    <div class="login-box">
      <h2>Login</h2>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter your email" required ngModel />
        </div>
  
        <div class="input-group">
          <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter your password"
              ngModel
              required
            />
        
        </div>
  
        <button type="submit">Login</button>
  
        <p>
          Don’t have an account? <a href="/signup">SignUp</a>
        </p>
      </form>
    </div>
  