<div class="chessboard-overlay">
  <div class="chessboard-container">
    <div class="labels top" style="grid-area: 1 / 2 / 2 / 3;">
      <span *ngFor="let letter of letters" > {{ letter }}</span>
    </div>
    <div style="grid-area: 2 / 1 / 3 / 2; " class="numbers">
      <div  *ngFor="let row of rows; let rowIndex = index" >
        {{ 8 - rowIndex }}
      </div> 
    </div>

    <div style="grid-area: 2 / 2 / 3 / 3;">
    <canvas id="canvas" height="600px" width="600px">
    </canvas>
    </div>
    <div style="grid-area: 2 / 3 / 3 / 4; " class="numbers">
      <div  *ngFor="let row of rows; let rowIndex = index" >
        {{ 8 - rowIndex }}
      </div> 
    </div>
    <div class="labels bottom" style="grid-area: 3 / 2 / 4 / 3;">
      <span *ngFor="let letter of letters" > {{ letter }}</span>
    </div>
  </div>
</div>
<app-chess-piece style="display: none;" id="piece"></app-chess-piece>
