<div class="chessboard-overlay">
  <div class="chessboard-container">
    <div class="labels top" style="grid-area: 1 / 2 / 2 / 3;">
      <span *ngFor="let letter of letters" > {{ letter }}</span>
    </div>
    <div style="grid-area: 2 / 1 / 3 / 2; " class="numbers">
      <div  *ngFor="let row of rows; let rowIndex = index" >
        {{ 8 - rowIndex }}
      </div> 
    </div>

    <div style="grid-area: 2 / 2 / 3 / 3;">
    <canvas id="canvas">
    </canvas>
    </div>
    <div style="grid-area: 2 / 3 / 3 / 4; " class="numbers">
      <div  *ngFor="let row of rows; let rowIndex = index" >
        {{ 8 - rowIndex }}
      </div> 
    </div>
    <div class="labels bottom" style="grid-area: 3 / 2 / 4 / 3;">
      <span *ngFor="let letter of letters" > {{ letter }}</span>
    </div>
  </div>
</div>
<img app-chess-piece pieceType="black-bishop" #blackBishop hidden>
<img app-chess-piece pieceType="black-king" #blackKing hidden>
<img app-chess-piece pieceType="black-hourse" #blackHourse hidden>
<img app-chess-piece pieceType="black-pawn" #blackPawn hidden>
<img app-chess-piece pieceType="black-queen"#blackQueen hidden>
<img app-chess-piece pieceType="black-rook" #blackRook hidden>
<img app-chess-piece pieceType="white-bishop" #whiteBishop hidden>
<img app-chess-piece pieceType="white-king" #whiteKing hidden>
<img app-chess-piece pieceType="white-hourse" #whiteHourse hidden>
<img app-chess-piece pieceType="white-pawn" #whitePawn hidden>
<img app-chess-piece pieceType="white-queen"#whiteQueen hidden>
<img app-chess-piece pieceType="white-rook" #whiteRook hidden>

